<html>
	<head>
		<script type="text/javascript" src="source/jquery-2.1.1.min.js"></script>
		<script src="source/jquery.jeditable.js" type="text/javascript"></script>
				<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="source/bootstrap/css/bootstrap.css">
		<!-- Extra Themes -->
		<link rel="stylesheet" href="source/parts.css">
		<!-- Latest compiled and minified JavaScript -->
		<script src="source/bootstrap/js/bootstrap.min.js"></script>
		<script src="source/editing.js"></script>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>Score Sheet</title>
		<script type="text/javascript" src="source/jquery-2.1.1.min.js"></script>
		
	</head>
	
	<body>
		{%include 'adminNav.html' with {'page': 'awards'}%}
	<div class="class="container-fluid">
<div class="no-print"><h3>Number to display?</h3>
Select the number of results to display. 
<form method="POST" action="">
    Number:<select name="number">
       {%for  i in 1..10%}
		{%if i == NumberAwards%}
			<option value="{{i}}" selected=selected>{{i}}</option>
		{%else%}
			<option value="{{i}}">{{i}}</option>
		{%endif%}
       {%endfor%}
    </select>
    <input type="submit" name="changeNumber" value="Select Number"/>
</form>
	</div>
<div id="displayDiv">
<ul class="list-unstyled">
{%set event = ''%}
{%for result in ResultsArray%}
	{%if event == ''%}
		{%set event=result.eventName%}
		<h1>{{event}}</h1>

	{%elseif event !=  result.eventName %}
		{%set event = result.eventName%}
		<div class="page-break"></div>
		<h1>{{event}}</h1>
	{%endif%}
	
    <li><h2>{{result.confirmedPlace}} - {{result.teamName}}</h2></li>
    
{%endfor%}
</div>