<html>
	<head>
		<script type="text/javascript" src="source/jquery-2.1.1.min.js"></script>
		<script src="source/jquery.jeditable.js" type="text/javascript"></script>
				<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="source/bootstrap/css/bootstrap.css">
		<!-- Extra Themes -->
		<link rel="stylesheet" href="source/parts.css">
		<!-- Latest compiled and minified JavaScript -->
		<script src="source/bootstrap/js/bootstrap.min.js"></script>
		<script src="source/editing.js"></script>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>Score Sheet</title>
	</head>
	
	<body>
		{%include 'adminNav.html' with {'page': 'events'}%}
	<div class="class="container-fluid">
		<form method="Post">
			Public Results Dislayed:
			<select name="publicDisplay">
				{%if DiplaySettings == 0%}
				<option value="0" selected=selected>No</option>
				<option value="1">Yes</option>
				{%else if DiplaySettings == 1%}
				<option value="0" >No</option>
				<option value="1" selected=selected>Yes</option>
				{%endif%}
			</select>
			Display Statistics on Public Results:
			<select name="publicStats">
				{%if DiplayStats == 0%}
				<option value="0" selected=selected>No</option>
				<option value="1">Yes</option>
				{%else if DiplayStats == 1%}
				<option value="0" >No</option>
				<option value="1" selected=selected>Yes</option>
				{%endif%}
			</select>
		</form>